@using System;
@using Sandbox;
@using Sandbox.UI;
@inherits PopupWindow
@namespace Physbox
<root>
	<PopupWindow Title="Deathmatch Settings">
		<ChildContent class="content">
			<div class="option">
				<i class="option_icon">inventory</i>
				<div class="option_title">Kills to Win</div>
				<div class="option_background" style="width: 100%;">
					<SliderControl @ref="KillsSlider"
					               Min="@( 1 )" Max="@( 100 )" Value="@( 1 )"
					               ShowValueTooltip="@( false )" ShowTextEntry="@( false )" ShowRange="@( false )"/>
					<NumberEntry class="option_text" style="width: 64px;" Value:bind=@KillsSlider.Value/>
				</div>
			</div>
		</ChildContent>
	</PopupWindow>
</root>

@code
{
	SliderControl KillsSlider;

	public override void OnDeleted()
	{
		DeathmatchGameMode.DeathmatchKillsToWin = (int)KillsSlider.Value;
		
		base.OnDeleted();
	}
}
