@using Sandbox;
@using Sandbox.UI;
@inherits Panel
@namespace Physbox
<root>
	<Option class="resume" Icon="play_arrow" Text="Resume" Pressed="@( () => { PauseMenu.Close(); } )"></Option>
	<Option class="about" Icon="info" Text="About Physbox" Pressed="@( () => { Game.Overlay.ShowPackageModal( "zonical.physbox" ); } )"></Option>
	<Option class="players" Icon="people" Text="Players" Pressed="@( () => { Game.Overlay.ShowPlayerList(); } )"></Option>
	<Option class="controls" Icon="sports_esports" Text="Controls" Pressed="@( () => { Game.Overlay.ShowBinds(); } )"></Option>
	<Option class="sboxsettings" Icon="settings" Text="s&box Settings" Pressed="@( () => { Game.Overlay.ShowSettingsModal(); } )"></Option>
	<Option class="physboxsettings" Icon="settings_applications" Text="Physbox Settings"></Option>
	<Option class="leave" Icon="exit_to_app" Text="Leave Game" Pressed="@( () => { Disconnect(); } )"></Option>
</root>

@code
{
	void Disconnect()
	{
		Networking.Disconnect();
		Scene.LoadFromFile( "scenes/main_menu.scene" );
	}
}
