@using Sandbox;
@using Sandbox.UI;
@using Sandbox.Network;
@using System;
@inherits Panel
@namespace Physbox

<root>
	<div class="background">
		<div class="text" style="color: @( AttackerTeamColor?.Hex ?? Color.White.Hex )">
			@if ( AttackerPlayerComponent is not null )
			{
				@GetPlayerName( AttackerPlayerComponent )
			}
			else
			{
				@( "🌎" )
			}
		</div>

		@if ( Prop is not null )
		{
			<img Texture=@Prop.KillfeedIcon/>
		}
		else
		{
			<div class="text">killed</div>
		}

		<div class="text" style="color: @( VictimTeamColor?.Hex ?? Color.White.Hex )">
			@GetPlayerName( VictimPlayerComponent )
		</div>
	</div>
</root>

@code
{
	public GameObject Victim;
	public DamageInfo DamageInfo;

	PlayerComponent VictimPlayerComponent => Victim.GetComponent<PlayerComponent>();
	PlayerComponent AttackerPlayerComponent => DamageInfo.Attacker?.GetComponent<PlayerComponent>();

	// Cached values.
	Color? AttackerTeamColor = null;
	Color? VictimTeamColor = null;

	PropDefinitionResource Prop = null;

	public string GetPlayerName( PlayerComponent player )
	{
		return player.IsPlayer ? player.Network.Owner.DisplayName : player.BotName;
	}

	public override void Tick()
	{
		if ( Prop is null )
		{
			if ( DamageInfo.Attacker?.GetComponent<MapCollider>() is null &&
			     DamageInfo.Attacker?.GetComponent<MeshComponent>() is null )
			{
				Prop = DamageInfo.Weapon?.GetComponent<PropDefinitionComponent>().Definition;

				if ( Prop is not null )
				{
					StateHasChanged();
				}
			}
		}

		if ( AttackerTeamColor is null && AttackerPlayerComponent is not null )
		{
			AttackerTeamColor = !GameLogicComponent.UseTeams
				? Color.White.Hex
				: PhysboxUtilites.GetTeamColor( AttackerPlayerComponent.Team ).Lighten( 0.25f ).Hex;

			StateHasChanged();
		}

		if ( VictimTeamColor is null && VictimPlayerComponent is not null )
		{
			VictimTeamColor = !GameLogicComponent.UseTeams
				? Color.White.Hex
				: PhysboxUtilites.GetTeamColor( VictimPlayerComponent.Team ).Lighten( 0.25f ).Hex;

			StateHasChanged();
		}
	}

	protected override int BuildHash()
	{
		return HashCode.Combine( Prop, VictimTeamColor, AttackerTeamColor );
	}
}
